<h1>Create a new post</h1>
<%= form_with(model:@post,url: user_posts_path, method: :post,local: true,class:'post-form') do |form| %>
    <%= form.label:title, "Post Title:", class:"form-label"%>
    <%= form.text_field:title %>
    <%= form.label:text, 'Post Text' ,class:"form-text" %>
    <%= form.text_area:text,size:"50x10" %>
    <%= form.submit 'Create post' ,class:"form-submit" %>
<% end %>