<section class = "post-section-container">
    <p> <%= @post.title %> </p>
    <p> Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
    <p> <%= @post.text %> </p>
    <% @post.comments.each do |comment| %>
    <p> <%= comment.user.name %> : <%= comment.text %> </p>
    <% end %>
</section>